<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{%  if form.errors %}
    <p> Username or password is wrong</p>
{% endif %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    <br>
        <input type="text" name="username">
    <br>
    {{ form.password.label_tag }}
    <br>
        <input type="password" name="password">
    <br>
        <input type="submit">
</form>
</body>
</html>